body {
  background-color: beige;
}
.qr-componet {
  width: 300px;
  height: 600px;

  border-radius: 10px;
  background-color: hsl(228, 45%, 44%);
}
.qrcode {
  width: 380px;
  height: 380px;
  color: #0004ff;
}
/* img.githublink {
  color: blue;
} */
